[Unit]\nDescription=sftp service\nAfter=docker.service\nRequires=docker.service\n\n[Service]\nTimeoutStartSec=0\nRestart=always\nExecStartPre=-/usr/bin/docker exec %n stop\nExecStartPre=-/usr/bin/docker rm %n\nExecStartPre=/usr/bin/docker pull atmoz/sftp:alpine\nExecStart=/usr/bin/docker run -v /root/sshkey/ssh_host_ed25519_key:/etc/ssh/ssh_host_ed25519_key -v /root/sshkey/ssh_host_rsa_key:/etc/ssh/ssh_host_rsa_key -v /root/sshkey/ssh_host_ed25519_key.pub:/home/foo/.ssh/keys/ssh_host_ed25519_key.pub:ro -v /root/sshkey/ssh_host_rsa_key.pub:/home/foo/.ssh/keys/ssh_host_rsa_key.pub:ro -v /root/upload:/home/foo/share -p 2222:22 -d atmoz/sftp foo::1001\n\n[Install]\nWantedBy=default.target